@import 'tailwindcss';

@font-face {
  font-family: 'Alex Brush';
  src: url('/fonts/AlexBrush-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-heading: 'Alex_Brush', cursive;
  --font-body: 'Tinos', serif;

  --color-bg: #192E2F;
  --color-green: #3B533D;
  --color-red: #913025;
  --color-gold: #BC8F59;
  --color-cream: #F2D496;
}

@layer base {
  
}
