@import 'tailwindcss';



@layer base {
  /* @font-face {
    font-family:'christmas';
    src: url('/fonts/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 
  
  /* @font-face {
    font-family: 'Tinos';
    src: url('/fonts/Tinos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }*/ 
}

@theme {
  --font-heading: "Alex Brush", serif;
  --font-body: 'Tinos', serif;

  --color-bg: #192E2F;
  --color-green: #3B533D;
  --color-red: #913025;
  --color-gold: #BC8F59;
  --color-cream: #F2D496;
}